.container{
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    gap: 30px;
}

.top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.placeOrder{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.31);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.mealCost{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.totalHeading{
    font-family: poppinsSemiBold;
    font-size: 16px;
}

.totalPrice{
    font-family: poppinsSemiBold;
    font-size: 16px;
}

.overallPrice{
    font-family: poppinsBold;
    font-size: 22px;
}

.counter{
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantity{
    font-family: poppinsSemiBold;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.65);
}

.title{
    font-family: poppinsBold;
    font-size: 32px;
    color: rgba(0, 0, 0, 1);
}

.mealCost:last-child{
    margin-top: 20px;
}

.paymentMethod{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.methodHeading{
    color: rgba(0, 0, 0, 0.72);
    font-family: poppinsBold;
    font-family: 22px;
}

.methods{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.method{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25), -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.methodName{
    position: absolute;
    bottom: -25px;
    color: rgba(0, 0, 0, 0.78);
    font-family: poppinsSemiBold;
    font-size: 10px;
    text-align: center;
    width: 150%;
}


.button{
    margin-top: 170px;
}