.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100vh;
    justify-content: center;
    gap: 50px;
    padding: 0 20px;
    
  }
  
  .welcomeTalk{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 100px;
  }
  
  .title{
    font-size: 40px;
    font-weight: 800;
    font-family: poppinsBold;
    text-transform: capitalize;
  }
  
  .motto{
    font-size: 18px;
    font-family: poppinsSemiBold;
    text-align: center;
    text-transform: capitalize;
    width: 70%;
    font-weight: bolder;
  }
  
  .button{
    background: black;
    color: white;
    font-size: 30px;
    font-family: poppinsSemiBold;
    width: 320px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
  }